CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_luci-app-pbr=y
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_ddns-scripts-noip=y
CONFIG_PACKAGE_fping=y
CONFIG_PACKAGE_arp-scan=y
CONFIG_PACKAGE_luci-theme-argon=y
