#add extras
echo CONFIG_PACKAGE_luci-proto-wireguard=y >> .config
echo CONFIG_PACKAGE_luci-app-pbr=y >> .config
echo CONFIG_PACKAGE_block-mount=y >> .config
echo CONFIG_PACKAGE_luci-app-samba4=y >> .config
echo CONFIG_PACKAGE_luci-app-ddns=y >> .config
echo CONFIG_PACKAGE_ddns-scripts-noip=y >> .config
echo CONFIG_PACKAGE_fping=y >> .config
echo CONFIG_PACKAGE_arp-scan=y >> .config
echo CONFIG_PACKAGE_luci-theme-argon=y >> .config
