CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_luci-app-pbr=y
CONFIG_PACKAGE_qosify=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_ddns-scripts-noip=y
CONFIG_PACKAGE_adguardhome=y
CONFIG_PACKAGE_dnscrypt-proxy2=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_fping=y
CONFIG_PACKAGE_arp-scan=y
CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-lib-ipkg=y
