CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_fping=y
CONFIG_PACKAGE_arp-scan=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-lib-ipkg=y
CONFIG_PACKAGE_luci-app-hd-idle=y
